.thired-hightlight-section {
    background-image: url(../../images/home/iphone11-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 580px;
  }