.second-hightlight-section {
    background-image: url(../../images/home/iphone11-pro-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    height: 580px;
  }
  .second {
    padding-top: 30px;
  }